
---
const pageTitle = "Blog Page";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
	</head>
	<body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>This is the blog page</h1>
    <p>This i where I will post about random things that pop in my head, but for now all will be samples since I am learning astro</p>
    <ul>
      <li><a href="/posts/mikasa">Mikasa</a></li>
    </ul>
	</body>
</html>
