---
import Navigation from '../components/Navigation.astro'
import Hamburder from '../components/Hamburger.astro'
---

<header>
  <nav>
    <Hamburger></Hamburger>
    <Navigation></Navigation>
  </nav>
</header>
